@model KFashion.Models.ProductModel
<section class="content-header">
    <div class="container-fluid">
        
    </div>
</section>

<section class="content"> 
    <div class="card card-solid">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3 class="d-inline-block d-sm-none">@Model.Name</h3>
                    <div class="col-12">
                        <img src="~/Content/ProductImage/@Model.Image1" class="product-image" alt="Product Image">
                    </div>
                    <div class="col-12 product-image-thumbs">
                        <div class="product-image-thumb active"><img src="~/Content/ProductImage/@Model.Image1" alt="Product Image"></div>

                        @if (Model.Image2 != null)
                        {
                            <div class="product-image-thumb"><img src="~/Content/ProductImage/@Model.Image2" alt="Product Image"></div>
                        }
                        @if (Model.Image3 != "")
                        {
                            <div class="product-image-thumb"><img src="~/Content/ProductImage/@Model.Image3" alt="Product Image"></div>
                        }
                        @if (Model.Image4 != "")
                        {
                            <div class="product-image-thumb"><img src="~/Content/ProductImage/@Model.Image4" alt="Product Image"></div>
                        }

                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <h3 class="my-3">@Model.Name</h3>
                    <p>@Model.Title</p>
                    <hr />
                    <p>@Model.Description</p>
                    <hr>

                    <div class="row">
                        <div class="col-6 form-group">
                            <h5 class="mt-3">Color</h5>
                            <select class="form-control">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                            </select>
                        </div>
                        <div class="col-6 form-group">
                            <h5 class="mt-3">Size</h5>
                            <select class="form-control">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="bg-gray py-2 px-3 mt-4">
                        <h2 class="mb-0">
                            Rs.@Model.SalePrice
                        </h2>

                    </div>
                    <div class="mt-4">
                        <div class="btn btn-primary btn-lg btn-flat">
                            <i class="fas fa-cart-plus fa-lg mr-2"></i>
                            Add to Cart
                        </div>
                        <div class="btn btn-default btn-lg btn-flat">
                            <i class="fas fa-heart fa-lg mr-2"></i>
                            Add to Wishlist
                        </div>
                    </div>
                    <div class="mt-4 product-share">
                        <a href="#" class="text-gray">
                            <i class="fab fa-facebook-square fa-2x"></i>
                        </a>
                        <a href="#" class="text-gray">
                            <i class="fab fa-twitter-square fa-2x"></i>
                        </a>
                        <a href="#" class="text-gray">
                            <i class="fas fa-envelope-square fa-2x"></i>
                        </a>
                        <a href="#" class="text-gray">
                            <i class="fas fa-rss-square fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
             
        </div> 
    </div> 
</section>